<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="com.android.hardware.camera2.full" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.PasswordActivity"></activity>
        <activity
            android:name=".ui.friend.SingleBestFriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SingleBestFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SingleFriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SingleFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".takePhoto.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Diary.DiaryTravelWhereActivity" />
        <activity
            android:name=".Diary.DiaryTravelWhenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.PieChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.GoogleLoginSignOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SearchFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.FirstLoginActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SetBestFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.BestFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryWhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryWhenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryHowPackage.DiaryHowSmellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryHowPackage.DiaryHowMouthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryHowPackage.DiaryHowEyeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryHowPackage.DiaryHowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryWhereActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User.ModifyPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.FirstLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.GoogleLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeContextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.friend.SocialArticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".takePhoto.TakePhotoActivity"
            android:label="@string/title_OCR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handWritePackage.HandwriteActivity"
            android:label="@string/title_handwritediary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryMoodActivity"
            android:label="@string/title_diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryPreviewActivity"
            android:label="@string/title_diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryTagActivity"
            android:label="@string/title_diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryWhyActivity"
            android:label="@string/title_diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diary.DiaryWhatActivity"
            android:label="@string/title_diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <service android:name="com.example.myapplication2.ui.maybelike.ServiceGetLocation"/>
    </application>

</manifest>